<div class="container mt-4">
  <h2 class="mb-4 text-center">ゲーム編集（管理者）</h2>

  <%= render "/layouts/error_messages", object: @game %>

  <div class="row justify-content-center">
    <div class="col-md-8">

      <%= form_with model: [:admin, @game], local: true do |f| %>

        <div class="mb-3">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :body, "内容" %>
          <%= f.text_area :body, class: "form-control", rows: 5 %>
        </div>

        <div class="mb-4">
          <%= f.label :genre_id, "ジャンル" %><br>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, {}, { class: "form-select" } %>
        </div>

        <%= f.submit '更新', class: "btn btn-success" %>

      <% end %>

    </div>
  </div>
</div>