<div class="container mt-4">
  <h1 class="mb-4">ゲーム詳細（管理）</h1>

  <div class="d-flex justify-content-center mb-4">
    <% if @game.image.attached? %>
      <%= image_tag @game.image, alt: @game.title, class: "img-thumbnail", style: "width: 300px; height: 300px; object-fit: cover;" %>
    <% else %>
      <%= image_tag 'no_image.png', alt: "No Image", class: "img-thumbnail", style: "width: 300px; height: 300px; object-fit: cover;" %>
    <% end %>
  </div>

  <ul class="list-group mb-4">
    <li class="list-group-item"><strong>タイトル：</strong> <%= @game.title %></li>
    <li class="list-group-item"><strong>内容：</strong> <%= @game.body %></li>
    <li class="list-group-item"><strong>ジャンル：</strong> <%= @game.genre.name %></li>
  </ul>

  <div class="text-center">
    <%= link_to '編集', edit_admin_game_path(@game), class: "btn btn-primary" %>
    <%= link_to '削除', admin_game_path(@game), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger ml-2" %>
  </div>
</div>