<div class="container mt-4">
  <div class="row">
    <%= render "/users/userinfo" %>

    <div class="col-md-8 offset-md-1">
      <h2 class="mb-4"><i class="fa-solid fa-gamepad mr-2"></i>ゲーム一覧</h2>

      <div class="row">
        <% @games.each do |game| %>
          <div class="col-md-4 mb-4 d-flex">
            <div class="card" style="width: 15rem;">
              <%= image_tag game.image, alt: game.title, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
              <ul class="list-group list-group-flush text-center">
                <h5 class="list-group-item"><%= link_to game.title, game_path(game.id), class: "text-decoration-none" %></h5>
                <li class="list-group-item"><div class="average-rating" data-score="<%= game.average_rating %>"></li>
                <li class="list-group-item"><a>ジャンル：</a><%= link_to game.genre.name, genre_path(game.genre), class: "text-decoration-none" %></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      
      <script>
        document.addEventListener("turbolinks:load", function () {
          $('.average-rating').raty({
            readOnly: true,
            score: function () {
              return $(this).data('score');
            },
            starOff: '<%= image_path("star-off.png") %>',
            starOn:  '<%= image_path("star-on.png") %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true
          });
        });
      </script>
    </div>

  </div>
</div>