<div class="container">
  <div class="row">
    <%= render "/users/userinfo" %>

    <div class="col-md-8 offset-md-1">
      <h1><%= @game.title %></h1>
      <h5>ジャンル：<%= @genre.name %></h5>
      <p><%= @game.body %></p>

      <h4>新規レビュー投稿</h4>
      <%= render "/layouts/error_messages" %>
      <%= form_with model: [@game, Review.new], local: true do |f| %>
        <h4>タイトル</h4>
        <%= f.text_field :title %>
        <h4>内容</h4>
        <%= f.text_area :body %><br>
        <%= f.submit '投稿', class: "btn btn-success" %>
      <% end %>

      <h4>レビュー一覧</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>投稿者</th>
          </tr>
        </thead>

        <tbody>
          <% @game.reviews.each do |review| %>
            <% next if review.id.nil? %>
            <tr>
              <td><%= link_to review.title, game_review_path(@game, review) %></td>
            </tr>
          <% end %>
        </tbody>
      </table> 
    </div>

  </div>
</div>