<div class="container mt-4">
  <div class="row">

    <%= render "/users/userinfo" %>
    
    <div class="col-md-8 offset-md-1">
      <% if @model == 'user' %>
          <h3>ユーザーの検索結果 "<%= @content %>"</h3>
        <%= render 'users/searchindex', users: @records %>
      <% elsif @model == 'review' %>
          <h3>レビューの検索結果 "<%= @content %>"</h3>
        <%= render 'reviews/searchindex', reviews: @records %>
      <% elsif @model == 'game' %>
          <h3>ゲームの検索結果 "<%= @content %>"</h3>
        <%= render 'games/searchindex', games: @records %>
      <% elsif @model == 'genre' %>
          <h3>ジャンルの検索結果 "<%= @content %>"</h3>
        <%= render 'genres/searchindex', genres: @records %>
      <% end %>
    </div>