<div class="container mt-4">
  <h2 class="mb-4">ユーザー詳細（管理）</h2>

  <div class="text-center mb-3">
    <%= image_tag @user.get_profile_image(150, 150), class: "rounded-circle img-thumbnail" %>
  </div>

  <ul class="list-group mb-4">
    <li class="list-group-item"><strong>名前：</strong> <%= @user.name %></li>
    <li class="list-group-item"><strong>メールアドレス：</strong> <%= @user.email %></li>
    <li class="list-group-item"><strong>紹介：</strong> <%= @user.introduction %></li>
  </ul>

  <div class="text-center">
    <%= link_to '削除', admin_dashboard_path(@user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger ml-2"  %> 
  </div>

  <h2 class="mb-4 mt-5">
    <i class="fa-solid fa-comments mr-2"></i><%= @user.name %>のレビュー一覧
  </h2>

  <% if @user.reviews.present? %>
    <div class="table-responsive">
      <table class="table table-striped text-center">
        <thead class="thead-light">
          <tr>
            <th>レビュータイトル</th>
            <th>ゲーム名</th>
            <th>投稿日</th>
          </tr>
        </thead>
        <tbody>
          <% @user.reviews.each do |review| %>
            <tr>
              <td>
                <%= link_to review.title, admin_review_path(review), class: "btn btn-link" %>
              </td>
              <td><%= link_to review.game.title, admin_game_path(review.game), class: "btn btn-link" %></td>
              <td><%= review.created_at.strftime("%Y/%m/%d") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="text-muted">レビューはまだ投稿されていません。</p>
  <% end %>

</div>