<!DOCTYPE html>
<html>
  <head>
    <title>Admin - Bodogemu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/b2ac543164.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render "layouts/navigation" %>
    </header>
    <% if admin_signed_in? %>
      <div>
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>